<a href="https://colab.research.google.com/github/omkmorendha/CS207Assign2/blob/main/Assign2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

class circle:
  def __init__(self, rad):
    self.r = rad
  
  def area(self):
    print("Area: {:.2f}".format((self.r ** 2) * math.pi))
  
  def peri(self):
    print("Perimeter: {:.2f}".format((self.r * 2) * math.pi))

c1 = circle(5)
c1.area()
c1.peri()

Area: 78.54
Perimeter: 31.42

In [ ]:
class teacher:
  def __init__(self, name, id, branch, salary):
    self.name = name
    self.id = id
    self.branch = branch
    self.salary = salary

  def printt(self):
    print("Employee ID: ", self.id)
    print("Name: ", self.name)
    print("Branch: ", self.branch)
    print("Salary:  ", self.salary)

def main():
  arr = []

  for i in range(5): 
   name = input("Name: ")
   id = input("ID: ")
   branch = input("Branch: ")
   sal = input("Salary: ")

   arr.append(teacher(name, id, branch, sal))

  arr[2].printt()

main()

Name: Om
ID: 94
Branch: CSE
Salary: 90000
Name: Aryan
ID: 95
Branch: DSAI
Salary: 80000
Name: Mohit
ID: 67
Branch: ECE
Salary: 91000
Name: Jaya
ID: 98
Branch: 78000
Salary: 80000
Name: Rohit
ID: 54
Branch: CSE
Salary: 100000
Employee ID:  67
Name:  Mohit
Branch:  ECE
Salary:   91000

In [ ]:
class acc:
  def __init__(self, id, name, amt):
    self.id = id
    self.name = name
    self.amt = amt

  def dep(self, n):
    self.amt += n

  def wth(self, n):
    if (n > self.amt):
      print("Insufficient funds")
    else:
      self.amt -= n

  def chkacc(self):
    print("Balance: ", self.amt)

  def disp(self):
    print("Account Number: ", self.id)
    print("Account Name: ", self.name)

def main():
  nm = input("Name: ")
  id = input("ID: ")
  bal = int(input("Balance: "))

  A = acc(id, nm, bal)
  A.dep(50000)
  A.wth(40000)
  A.disp()
  A.chkacc()

main()

Name: Om Morendha
ID: 948523
Balance: 90000
Account Number:  948523
Account Name:  Om Morendha
Balance:  100000

In [ ]:
class student:
  def __init__(self, usn, name, sub):
    self.usn = usn
    self.name = name
    self.marks = sub

  def disp(self):
    print("USN: ", self.usn)
    print("Name: ", self.name)
    print("Marks: ", self.marks)

def main():
  usn = input("USN: ")
  name = input("Name: ")
  sub1 = input("Marks in Subject 1: ")
  sub2 = input("Marks in Subject 2: ")
  sub3 = input("Marks in Subject 3: ")

  sub = [sub1, sub2, sub3]
  st = student(usn, name, sub)

  print("\n\n")
  st.disp()

main()

USN: 82394
Name: Om Morendha
Marks in Subject 1: 89
Marks in Subject 2: 84
Marks in Subject 3: 90



USN:  82394
Name:  Om Morendha
Marks:  ['89', '84', '90']

In [ ]:
patients = []

class patient:
  def __init__(self, nm, doa, lis, oxy, dod):
    self.nm = nm
    self.doa = doa
    self.lis = lis
    self.oxy = oxy
    self.dod = dod

  def chkoxy(self):
    if (self.oxy < 90):
      print("Severe")
    else:
      print("Not Severe")

  def oxysp(self):
    n = 0

    for i in patients:
      if patients[i].oxy < 90:
        n++

    print(n ,"patients require oxygen support")

  def gen(self):
    n = 0

    for i in patients:
      if patients[i].dod is not None and patients[i].oxy > 90:
        n++

      print(n, "patients are in the general ward")

  def num(self):
    n = len(patients)
    print("Total", n, "patients admitted")

In [ ]:
class time:
  def __init__(self, hour = 0, minute = 0, sec = 0):
    self.hour = hour
    self.minute = minute
    self.sec = sec

  def disp(self):
    print(self.hour, ':', self.minute, ':', self.sec)

t1 = time()
t2 = time(4, 30, 12)

t1.disp()
t2.disp()

0 : 0 : 0
4 : 30 : 12

In [ ]:
class student:
  def __init__(self, name, age, roll):
    self.name = name
    self.age = age
    self.roll = roll
  
  def eq(self, std1):
    if (self.name == std1.name and self.age == std1.age and self.roll == std1.roll):
      print("Equal")
    else:
      print("Not Equal")

std1 = student("Rahul", 21, 33)
std2 = student("Rahul", 22, 74)
std1.eq(std2)

Not Equal

In [ ]:
class student:
  ins = "IIIT Dharwad"
  sem = 3

  def __init__(self, name, usn):
    self.usn = usn
    self.name = name

  @classmethod
  def cldisp(self):
    print("Semester", self.sem, "in", self.ins)

  def vardisp(self):
    print("USN: ", self.usn)
    print("Name: ", self.name)

std1 = student("Om Morendha", '20bcs095')
std1.cldisp()
print('\n\n')
std1.vardisp()

Semester 3 in IIIT Dharwad



USN:  20bcs095
Name:  Om Morendha

In [ ]:
class laptop:
  def __init__(self, cpu, ram, hd):
    self.cpu = cpu 
    self.ram = ram
    self.hd = hd
  
  def printl(self):
    print("CPU:", cpu)
    print("RAM:", ram)
    print("Hard Disk:", hd)

def student:
  def __init__(self, nm, roll, sem, lap):
    self.nm = nm
    self.roll = roll
    self.sem = sem 
    self.lap = lap